@font-face {
  font-family: "Estedad";
  src: url("/fonts/Estedad[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Estedad", sans-serif !important;
  -webkit-tap-highlight-color: transparent;
}
